@font-face {
    font-family: "Raleway-Black";
    src: url("/font/Raleway-Black.ttf") format("truetype");
           
   }



 #titrep
 {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-content:space-between;
    justify-content:space-between;
    margin-bottom: 4em;
 }  

 #titrep img
 {
width:110%;
 }
.menu
{
    
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    color:  #0065FC;
    height: 15px;
    width: 300px;
    
    padding-right: 1em;
    
}
.menu p
{
    border-top: 3px solid transparent;
    padding-top: 40px;
    width: 80px;
}
.menu p:hover
{
  
border-top-color: #0065FC;
}



.activite {
    color: black;
}

.nav
{
    display: flex;
    
}

.logo
{background-color: #F2F2F2;
    padding: 0.8em;
    border-top-left-radius: 16px 16px;
    border-bottom-left-radius: 16px 16px;

}
.cher
{ background-color: #0065FC;
    padding:0.8em ;
    border-top-right-radius:16px 16px ;
    border-bottom-right-radius: 16px 16px;
    color:#0065FC ;
    border-left: none;
}

.button
{
    background-color:#0065FC ;
    border: none;
    color: white;
    border-left: none;
}

input
{
    padding: 0.9em ;
    border:none ;
    border-color: #F2F2F2;
    color: black;
    
    
}
input::placeholder
{
    color: black;
    font-weight: 800;
}
    


.menub
{
    display: flex;
    flex-direction: row;
    font-family: "Raleway-Black",arial,serif;
}  



.liste-filtres
 {
    
    display: flex;
    
    align-content: space-between;
    list-style-type:none ;
    width: 70%;
}
.buttonf
{   display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid #DEEBFF;
    color:black;
    background-color: white ;
    align-content:space-around;
    padding-left: 0px;
    border-spacing: 0px;
    margin-right: 20px;
}
body > div > ul > li > button > strong
{
    padding: 10px;
    
}
h3{
    padding: 0.4em;
}
.filtre
{
    border-radius: 50%;
    color:#0065FC ;
    padding:12px;
    background-color: lightblue;
    
}
    


.fa-info-circle
{
   background-color: #0065FC;
   color: white;
}


.contenaire
{
    display: flex;
    justify-content: space-between;
    
}
.contenu
{
    background-color:#F2F2F2;
    border-radius: 8px;
    height: 900px;
    display: flex;
    justify-content: space-between;
    border:1px solid #F2F2F2;
    padding: 20px;
}
.hébergement
{  
    width: 70%;
    
    
}
.populaire
{
    float: right;
    width: 20%;
    flex-direction: column;
    border:1px solid #F2F2F2;
    
}

.lieu
{   
    background-color: white;
    height: 150px;
    width: 100px;
    margin: 16px 16px;
    
    border-radius:  20px 20px ;
    padding-top: 0.5em;
    padding-right: 5.5em;
    padding-left: 0.5em;
    padding-bottom: 2.5em;
    border: 1px solid #ddd;
    font-size: 10px;
}
    
.photoh
{
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 150px;

}


.fa-star{
    color: #0065FC;
}


.gris
{
    color: grey;
    
}

.photop
{
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 150px;

}
img
  {
    
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 150px;
    
  }
.footage
{
    border:1px solid #F2F2F2;
    background-color: #F2F2F2 ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.info
{
    
    padding-left: 20px;
    padding-right:250px;

}


@media   (max-width: 414px)
{
    .menu 
    {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    

}

