@font-face {
    font-family: "Raleway-Black";
    src: url("/font/Raleway-Black.ttf") format("truetype");
           
   }



 .titrep
 {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-content:space-between;
    justify-content:space-between;
    margin-bottom: 4em;
 }  

 .reservia
 {
width:110%;
 }
.menu
{
    
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    color:  #0065FC;
    height: 15px;
    width: 300px;
    margin-top: 3em;
    padding-right: 1em;
}

.menu :hover
{
   border-top: 3px solid #0065FC; 
   margin-top: 30em;
}
.menu li
{
    list-style-type: none;
    
   
}


.activite {
    color: black;
}

.nav
{
    display: flex;
    
}

.logo
{background-color: #F2F2F2;
    padding: 0.8em;
    border-top-left-radius: 16px 16px;
    border-bottom-left-radius: 16px 16px;

}
.cher
{ background-color: #0065FC;
    padding:0.8em ;
    border-top-right-radius:16px 16px ;
    border-bottom-right-radius: 16px 16px;
    color:#0065FC ;
border-left: none;
}

.button
{
    background-color:#0065FC ;
    border: none;
    color: white;
    border-left: none;
}

input
{
    padding: 0.9em ;
    border-left: none;
    border-color: #F2F2F2;
    border-right: none;
    
    
}


.menub
{
    display: flex;
    flex-direction: column;
    font-family: "Raleway-Black",arial,serif;
    
}

.liste-filtres {background-color: ;
    display: flex;
    flex-direction: row;
    width: 600px;
    align-content: space-between;
    justify-content: space-between;
    
}
.buttonf
{
    border-top-right-radius:20px 20px ;
    border-bottom-right-radius: 20px 20px;
    padding: 0.8em;
    color: black;
    background-color: white ;
    border-left: none;
}
    






      
img {
        
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
    width: 150px;
  }

