@font-face {
    font-family: "Raleway";
    src: url("/font/Raleway-Black.ttf") format("truetype");
           
   }

p 
{
    font-family: "Raleway" ,sans-serif 

    
}

a
{
    text-decoration: none;

}
 #titrep
 {
    display: flex;
    
    align-content:space-between;
    justify-content:space-between;

 }  

 #titrep img
 {
width:110%;
 }
.menu
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px;
    width: 400px;

    
}

.menu a
{   
    text-decoration: none;
    color:  #0065FC;
}
.menu p
{
    border-top: 3px solid transparent;
    padding-top: 20px;
    width: 80px;
    color: #0065FC;
    justify-content: space-around;
}
.menu p:hover
{

border-top-color: #0065FC;
}



.activite {
    color: black !important;
}

.nav
{
    display: flex;
    
}

.logo
{background-color: #F2F2F2;
    padding: 0.8em;
    border-top-left-radius: 16px 16px;
    border-bottom-left-radius: 16px 16px;

}
.cher
{ background-color: #0065FC;
    padding:0.8em ;
    border-top-right-radius:16px 16px ;
    border-bottom-right-radius: 16px 16px;
    color:#0065FC ;
    border-left: none;
}

 

.button
{
    background-color:#0065FC ;
    border: none;
    color: white;
    border-left: none;
}

input
{
    padding: 0.9em ;
    border:none ;
    border-color: #F2F2F2;
    color: black;
    
    
}
input::placeholder
{
    color: black;
    font-weight: 800;
}
    


.menub
{
    display: flex;
    font-family: "Raleway",arial,serif;
    
}  



.liste-filtres
 {
    
    display: flex;
    align-content: space-around;
    list-style-type:none ;
    
}
.buttonf
{   display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid #DEEBFF;
    color:black;
    background-color: white ;
    align-content:space-around;
    padding-left: 0px;
    border-spacing: 0px;
    margin-right: 20px;
}
body > div > ul > li > button > strong
{
    padding: 10px;
    
}
h3{
    padding: 0.5em;
}
.filtre
{
    border-radius: 50%;
    color:#0065FC ;
    padding:12px;
    background-color: lightblue;
    
}
    


.fa-info
{
    border:1px solid #F2F2F2;
    border-radius: 50%;
    color:#0065FC;
   
}


.contenaire
{
    display: flex;
    justify-content: space-between;
    
}
.contenu
{
    background-color:#F2F2F2;
    border-radius: 8px;
    height: auto;
    justify-content: space-between;
    border:1px solid #F2F2F2;
    padding: 20px;
}
#hébergement
{  
    width: 58%;
    
    
}
.hebergement-flex
{
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
}

h4
{ 
    font-size: 20px;
}

.populaire
{

    width: 27%;
    border:1px solid #F2F2F2;
    min-width: 200px;
    padding-right: 10px;
}

.lieu
{   
    background-color: white;
    height: 150px;
    width: 200px;
    margin: 20px 20px;
    border-radius:  20px 20px ;
    padding-top: 0.2em; 
    padding-left: 0.5em;
    padding-bottom: 5em;
    border: 1px solid #ddd;
    font-size: 13px;
    text-align:left;
    
}
    
.photoh
{
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 190px;
    height: 100px;
    margin-top: 2px;
    justify-content: center;
}


.fa-star{
    color: #0065FC;
}


.gris
{
    color: grey;
    
}




.fa-chart-line
{
padding: 1.5em;

}

.topopu
{
    display: flex;
    justify-content: space-between;
    
}
.popu
{

    background-color: white;
    border-radius: 20px;
    height: 120px;
    width: 260px;
    margin: 20px 20px;
    padding-top: 0.5em;
    padding-bottom: 3em;
    border: 1px solid #ddd;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    
}
.popu_legende
{

display: flex;
flex-direction: column;
}
.infopopu
{
    height: 90%;
}

.photop
{
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 75px;
    height: 150px;
    

}


#Activités
{
    
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.acta
{
    
    height: 400px;
    width: 25%;
    min-width: 200px;
    
}

.actb
{  
   height:400px;
   width:25%;
   min-width: 200px;
   justify-content: space-around;
   
}

.cadre
{
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 30px;
    margin-right: 30px;

}

.cadreb
{
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 4%;
}


.cadrec
{
   
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 30px;
    
}

.cadred
{
   
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 30px;
    margin-bottom: 4%;
}

.cadree
{
   
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 30px;
    
}


.actiphoto
{
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
}

.actiphotob
{

    height: 150px;
    width:100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.actiphotoc
{
    height: 100px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.actiphotod
{
    height: 120px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


}

    
img
  {
    
    
    border-top-left-radius: 8px;
    height: 100%;
    max-width: 100%;
    object-fit:cover ;
  }
.endtext
{
    border:1px solid #F2F2F2;
    background-color: #F2F2F2 ;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.info
{
    
    padding-left: 20px;
    padding-right:250px;

}


@media   (max-width: 414px) 
{

    #titrep
    {
        max-width: 500px;
    }
    
    .menu /*todo*/
    {
        width:100px;
    }
    
        
    

    .menu p:nth-child(1)
    {
        order: 2;
        flex-wrap: wrap;
    }
    
    .menu p:nth-child(2)
    {
        order: 3;

    }

    .menu p:nth-child(3)
    {

        order: 1;
    }
    .menu p
    {

        padding-top: 15px;
    }

    .menu p:hover
    {
        color: #0065FC;
        border-bottom-color: #0065FC;
    
    }
    
   
    .menub
    {
    max-width: 150PX;
    flex-wrap: wrap;
    }
    

    .contenaire
    {
        flex-direction: column-reverse;
        
    }
    
    .populaire
    {
        width: auto;
    
        border-radius: 0px;
    }


    
    #hébergement
    {
        width: 100%;
        background-color: white;
        border-radius: 0px;
    }


    .acta
    {
        
        height: auto;
        width: 80%;
        margin-top: 4%;
        margin-bottom: 4%;
        
    }

    .actb
    {
        height: auto;
        width: 80%;
    }


    .actiphoto
{
    height: 150px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
    
}

    .footage
    {
        flex-direction: column;


    }

}

